body {
  margin: 0;
  font-family: "Courier New","Courier",monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #678bd6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a3719c, #4e90b9, #47b6e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(163, 113, 156), rgb(71, 182, 230)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.textshadow {
  text-shadow: 2px 4px 2px black;
}